/* FONTS */
@font-face {
  font-family: "Lora regular";
  src: url("assets/fonts/Lora-Regular.ttf");
}

@font-face {
  font-family: "Lora bold";
  src: url("assets/fonts/Lora-Bold.ttf");
}

@font-face {
  font-family: "ProximaNova regular";
  src: url("assets/fonts/ProximaNova-Regular.ttf");
}

@font-face {
  font-family: "ProximaNova semibold";
  src: url("assets/fonts/ProximaNova-Semibold.ttf");
}
/* FONTS END */

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ebecf0;
  font-size: 16px;
  font-family: "Lora regular", serif;
}

body {
  background-color: #ffffff;
  max-width: 1365px;
  width: 80%;
  margin: 0 auto;
}

main {
  display: flex;
  flex-flow: row;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Lora bold", serif;
}

article h1,
aside h1,
nav h1,
section h1 {
  font-size: 1.1em;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: inherit;
  cursor: pointer;
  color: inherit;
}

img {
  flex-shrink: 0;
}
/* RESET END */

/* UTILITY CLASSES */
.color-main {
  color: #ffc82f;
}

.color-white {
  color: #ffffff;
}

.bg-color-main {
  background-color: #ffc82f;
}

.bg-color-secondary {
  background-color: #ebecf0;
}

.secondary-color {
  color: #797979;
}

/* ARROW */
.arrow {
  border: solid black;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  padding: 0.2rem;
  margin-left: 1.6rem;
}

.arrow--down {
  transform: rotate(45deg);
}
/* ARROW END */
.invisible {
  display: none;
}
/* UTILITY CLASSES END */

/* TOP NAVIGATION BAR */
.top-nav {
  display: flex;
  align-items: center;
  height: 3.4rem;
  font-family: "Lora bold", serif;
}

.top-nav__logo {
  padding: 0 1rem 0;
}

/* TOP NAV MID SECTION */
.top-nav__middle-section {
  display: inline-flex;
  align-items: center;
  border-left: 1px solid #f5f5f7;
  border-right: 1px solid #f5f5f7;
  width: 101%;
  height: inherit;
}

.top-nav__select {
  height: 1.9rem;
  width: 7.2rem;
  border-radius: 4rem;
  margin-left: 1.3rem;
  padding-left: 0.3rem;
  flex-shrink: 0;
}

.top-nav__navigation {
  list-style-type: none;
  flex: 1 0 auto;
  text-align: right;
  margin-right: 2%;
}

.top-nav__nav-item {
  display: inline-block;
  padding-left: 1rem;
}

.top-nav__nav-item:first-child {
  padding-left: initial;
}

.top-nav__nav-item:hover {
  background-color: #ffc82f;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* TOP NAV BUTTONS (SEARCH + BOOKMARK) SECTION */
.top-nav__buttons {
  display: inline-flex;
  justify-content: space-around;
  width: 5.5rem;
  flex-shrink: 0;
}
/* TOP NAVIGATION BAR END */

/* MAIN */
/* SIDENAV */
.sidenav {
  position: relative;
  height: inherit;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "ProximaNova semibold", sans-serif;
}

.sidenav__burger-button {
  cursor: pointer;
  margin-top: 2rem;
  width: 4rem;
  height: 1.5rem;
  background: url("./assets/images/UI/burger.svg") center center/contain
    no-repeat;
  transition: background 0.5s;
}

.sidenav__toggler:checked + .sidenav__burger-button {
  background: url("./assets/images/UI/close.svg") center center/contain
    no-repeat;
}

.sidenav__menu {
  display: flex;
  flex-flow: column;
  position: absolute;
  padding: 10rem 0 0 8rem;
  top: 0;
  bottom: 0;
  left: 100%;
  background-color: white;
  width: 30rem;
  list-style: none;
  z-index: 1;
  transition: top 2s;
}

.sidenav__toggler:not(:checked) ~ .sidenav__menu {
  width: 0;
  display: none;
}

.sidenav__menu-item {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
/* SIDENAV END */

/* HEADER */
.header {
  position: relative;
  justify-content: center;
  width: 100%;
  height: 48vh;
}

.header__layer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 3.7rem 0 4rem 6.3rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__layer--opaque {
  background: rgba(0, 0, 0, 0.23);
}

.header--bg-bears {
  background: url("assets/images/common/bearBears.jpg") center center/cover
    no-repeat;
}

.header__title {
  font-size: 3rem;
  width: 40rem;
}

.header__ul {
  list-style-type: none;
  margin-bottom: 1rem;
}

.header__li {
  display: inline-flex;
  align-items: flex-end;
  margin-right: 1rem;
}

.header__li-image {
  margin-right: 0.5rem;
}

.header__button-group {
  display: flex;
  margin-top: 0.7rem;
  justify-content: space-between;
  width: 7.5rem;
}

.header__read {
  height: 1.9rem;
  width: 5rem;
  border-radius: 4rem;
  flex-shrink: 0;
}

.header__bookmark:hover {
  background: url(assets/images/UI/bookmark_active.svg) center center/contain
    no-repeat;
}
/* HEADER END */

/* SORT BAR */
.sort-bar {
  display: flex;
  align-items: flex-end;
  height: 3rem;
  margin-left: 8%;
}

.sort-bar__category {
  line-height: 1rem;
  cursor: pointer;
}

.sort-bar__category:hover {
  background-color: #ffc82f;
}

.sort-bar__input:checked + label {
  font-family: "Lora bold", serif;
}

.sort-bar__category--right-border {
  border-right: 1px solid black;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
}

.sort-bar__category--left-border {
  border-left: 1px solid black;
  padding-left: 0.5rem;
}
/* SORT BAR END */

/* ARTICLEs */
.articles {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 8%;
  padding-right: 8%;
}

.article {
  height: 20rem;
  position: relative;
  margin-top: 3rem;
}
/* ARTICLE-TYPE-1 */
.article-type-1 {
  width: 100%;
}

.article-type-1__layer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 3% 0 3% 2.1rem;
  position: absolute;
  top: 3vh;
  left: 48%;
  width: 39%;
  background-color: white;
  border: 1px solid black;
}

.article-type-1__layer::before {
  content: "";
  position: absolute;
  top: 5.3rem;
  left: -3.4%;
  width: 2rem;
  border-top: 0.3rem solid #fa4f4c;
}

.article-type-1-picture {
  position: relative;
  width: 51.1%;
  height: 16.1rem;
  border-bottom: 0.3rem solid #fa4f4c;
}

.article-type-1__title {
  font-size: 2rem;
  width: 130%;
  margin-bottom: 1.5rem;
  order: 2;
}

.article-type-1__category-title {
  order: 0;
  position: absolute;
  top: -2.4rem;
  left: 0rem;
  width: 100%;
  text-align: right;
}

.article-type-1__ul {
  list-style-type: none;
  margin-bottom: 5%;
  order: 1;
}

.article-type-1__li {
  display: inline-flex;
  align-items: flex-end;
  margin-right: 4%;
}

.article-type-1__li-image {
  margin-right: 10%;
}

.article-type-1__button-group {
  display: flex;
  justify-content: space-between;
  width: 7.5rem;
  order: 3;
}

.article-type-1__read {
  height: 1.9rem;
  width: 5rem;
  border-radius: 4rem;
  flex-shrink: 0;
}

.article-type-1__bookmark {
  position: absolute;
  bottom: -1.5rem;
  right: 3%;
}

.article-type-1__bookmark:hover {
  background: url(assets/images/UI/bookmark_active.svg) center center/contain
    no-repeat;
}
/* ARTICLE-TYPE-1-END */

/* ARTICLE-TYPE-2 */
.article-type-2 {
  width: 30%;
  display: flex;
  flex-flow: column;
  margin-bottom: 2rem;
}

.article-type-2__layer {
  display: flex;
  flex-flow: column;
}

.article-type-2-picture {
  width: 100%;
  height: 15rem;
}

.article-type-2__title {
  margin-bottom: 1.5rem;
  order: 3;
}

.article-type-2__category-title {
  order: 0;
  position: absolute;
  top: 0rem;
  margin-top: -2rem;
}

.article-type-2__ul {
  list-style-type: none;
  margin-top: 1.3rem;
  order: 2;
}

.article-type-2__li {
  display: inline-flex;
  align-items: flex-end;
  margin-right: 4%;
}

.article-type-2__li-image {
  margin-right: 0.5rem;
}

.article-type-2__button-group {
  display: flex;
  justify-content: space-between;
  order: 1;
}

.article-type-2__bookmark {
  position: absolute;
  bottom: 3.5rem;
  right: 5%;
}

.article-type-2__bookmark:hover {
  background: url(assets/images/UI/bookmark_active.svg) center center/contain
    no-repeat;
}
/* ARTICLE-TYPE-2-END */

/* ARTICLE-TYPE-3 */
.article-type-3 {
  width: 100%;
  height: 28rem;
  margin-top: 7rem;
  margin-bottom: 3rem;
}

.article-type-3__layer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 2% 0 3% 2.1rem;
  position: absolute;
  top: 8vh;
  left: 3%;
  width: 60%;
  background-color: white;
  border: 1px solid black;
}

.article-type-3__layer::before {
  content: "";
  position: absolute;
  top: 5.3rem;
  left: -3.4%;
  width: 3rem;
  border-top: 0.3rem solid #fa4f4c;
}

.article-type-3-picture {
  width: inherit;
  height: inherit;
  border-bottom: 0.3rem solid #fa4f4c;
}

.article-type-3__title {
  font-size: 2rem;
  width: 86%;
  margin-bottom: 1.5rem;
  order: 2;
}

.article-type-3__category-title {
  order: 0;
  position: absolute;
  top: -9.4rem;
  left: -2.2rem;
  width: 100%;
}

.article-type-3__ul {
  list-style-type: none;
  margin-bottom: 5%;
  order: 1;
}

.article-type-3__li {
  display: inline-flex;
  align-items: flex-end;
  margin-right: 7%;
  width: 25%;
}

.article-type-3__li-image {
  margin-right: 10%;
}

.article-type-3__button-group {
  display: flex;
  justify-content: space-between;
  width: 7.5rem;
  order: 3;
}

.article-type-3__read {
  height: 1.9rem;
  width: 5rem;
  border-radius: 4rem;
  flex-shrink: 0;
}

.article-type-3__bookmark {
  position: absolute;
  bottom: -1.5rem;
  right: 3%;
}

.article-type-3__bookmark:hover {
  background: url(assets/images/UI/bookmark_active.svg) center center/contain
    no-repeat;
}
/* ARTICLE-TYPE-3-END */

/* ARTICLE-TYPE-4 */
.article-type-4 {
  width: 100%;
}

.article-type-4__layer {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
  padding: 3% 2.1rem 3% 0;
  position: absolute;
  top: 3vh;
  right: 48%;
  width: 39%;
  background-color: white;
  border: 1px solid black;
}

.article-type-4__layer::before {
  content: "";
  position: absolute;
  top: 5.3rem;
  right: -3.4%;
  width: 2rem;
  border-top: 0.3rem solid #fa4f4c;
}

.article-type-4-picture {
  position: absolute;
  right: 0;
  width: 51.1%;
  height: 16.1rem;
  border-bottom: 0.3rem solid #fa4f4c;
}

.article-type-4__title {
  font-size: 2rem;
  width: 130%;
  margin-bottom: 1.5rem;
  order: 2;
}

.article-type-4__category-title {
  order: 0;
  position: absolute;
  top: -2.4rem;
  left: 0rem;
  width: 100%;
}

.article-type-4__ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 5%;
  order: 1;
  width: 100%;
}

.article-type-4__li {
  display: inline-flex;
  align-items: flex-end;
  width: 10rem;
}

.article-type-4__li-image {
  margin-right: 10%;
}

.article-type-4__button-group {
  display: flex;
  justify-content: space-between;
  width: 7.5rem;
  order: 3;
}

.article-type-4__read {
  height: 1.9rem;
  width: 5rem;
  border-radius: 4rem;
  flex-shrink: 0;
}

.article-type-4__bookmark {
  position: absolute;
  bottom: -1.5rem;
  left: 3%;
}

.article-type-4__bookmark:hover {
  background: url(assets/images/UI/bookmark_active.svg) center center/contain
    no-repeat;
}
/* ARTICLE-TYPE-4-END */

/* ARTICLES END */

/* LOAD WIDGET */
.load-widget {
  display: flex;
  height: 5rem;
}

.load-widget__rotate {
  margin: auto;
  display: flex;
  align-items: center;
}
/* LOAD WIDGET END */
/* MAIN */

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-flow: row wrap;
  padding: 1rem 0 1rem;
}

.footer__item {
  width: 18rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 0.1rem solid;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.footer__item-title {
  width: 100%;
  flex-shrink: 0;
  margin-bottom: 1.5rem;
}

/* SUBSCRIBTION */

.footer__subscr-email {
  border: none;
  height: 2rem;
  width: 80%;
  font-size: 1.2rem;
  background: transparent;
  flex-shrink: 2;
}

.footer__email-submit {
  width: 20%;
  height: 1.2rem;
  border: none;
  background: url(assets/images/UI/arrow.svg) no-repeat center right/contain;
}
/* SUBSCRIPTION END */

/* SOCIAL */
.footer__item--social {
  border: none;
}

.footer__social-ul {
  list-style-type: none;
  display: flex;
}

.footer__social-li {
  margin-right: 2rem;
  height: 2rem;
}

.footer__social-li > a,
.footer__social-li img {
  height: inherit;
}

.footer__social-li:hover {
  background-color: #ffc82f;
}
/* SOCIAL END */

/* LICENSE */
.footer__item--license {
  border: none;
  width: 23rem;
}
/* LICENSE END */

/* FOOTER END */
