/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  width: 1365px;
  margin: 0 auto;
}

/* TOP NAVIGATION BAR */
.top-nav {
  display: flex;
  align-items: center;
  height: 3.4em;
}

.top-nav_logo {
  height: 3.4em;
  width: 8.2em;
}

.top-nav__select {
  position: relative;
  height: 2.3em;
  width: 8.6em;
  background-color: #ffc82f;
  border-radius: 4em;
  margin-left: 1.3em;
  border: none;
}

i {
  border: solid black;
  border-width: 0 0.2em 0.2em 0;
  display: inline-block;
  padding: 0.2em;
}

.down {
  transform: rotate(45deg);
}

.top-nav__navigation {
  list-style-type: none;
  margin-left: 52%;
}

.top-nav__navigation li {
  display: inline-block;
  padding-left: 1em;
}

.top-nav__navigation li:first-child {
  padding-left: initial;
}